@import url('https://fonts.googleapis.com/css?family=Orbitron');

html {
  background: url("./clock-pattern.png");
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
 
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.main {
  width: 550px;
  height: 175px;
  margin: 250px auto;
  position: absolute;
  padding: 30px;
  left: 25%;
}

.badge {
  width: 119px;
  background: #7FFF00;
  color: dodgerblue;
  padding: 5px 8px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: 1.8px;
  left: 40%;
}

.clock {
  background: #EBEBEB;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 35px;
  font-family: Orbitron;
  border-radius: 4px;
}

.clock-face {
  top: -261%;
  left: 39%;
  position: absolute;
  width: 40%;
  height: 40%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}
.hand {
  width: 30%;
  height: 4.5px;
  background: red;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}


/* iPhone 6, 7, 8 ----------- */
@media  (min-device-width: 375px) and (max-device-height: 667px) {

  .main {
    width: 550px;
    height: 175px;
    margin: 250px auto;
    position: absolute;
    padding: 30px;
    left: 19%;
  }

  .clock-face {
    top: -228%;
    left: 35%;
    position: absolute;
    width: 40%;
    height: 40%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }
  .hand {
    width: 25%;
    height: 4.5px;
    background: red;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  }
  
  
/* iPhone 6+, 7+, 8+ ----------- NOT WORKING  */
@media  (min-device-width: 414px) and (max-device-height: 736px) {

  .main {
    width: 550px;
    height: 175px;
    margin: 250px auto;
    position: absolute;
    padding: 30px;
    left: 19%;
  }

  .clock-face {
    top: 0;
    left: 0;
    position: absolute;
    width: 40%;
    height: 40%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }
  .hand {
    width: 30%;
    height: 4.5px;
    background: red;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  }
  

/* iPhone XS Max, XR ----------- */
@media  (min-device-width: 414px) and (max-device-height: 896px) {
  .clock-face {
    top: -261%;
    left: 39%;
    position: absolute;
    width: 40%;
    height: 40%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }
  .hand {
    width: 30%;
    height: 4.5px;
    background: red;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  }
  
/* Desktops and laptops ----------- */
@media (min-width : 1224px) {
  .clock-face {
    top: -122%;
    left: -27%;
    position: absolute;
    width: 25%;
    height: 25%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }
  
  .hand {
    width: 25%;
    height: 4px;
    background: red;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  
  }  