@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./clock-pattern.png");
}

.main {
  background: #ccc;
  width: 550px;
  height: 175px;
  margin: 250px auto;
  position: relative;
  padding: 30px;
}

.badge {
  width: 119px;
  background: #7FFF00;
  color: dodgerblue;
  padding: 5px 8px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: 1.8px;
  left: 40%;
}

.clock {
  background: #EBEBEB;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 35px;
  font-family: Orbitron;
  border-radius: 4px;
}
